<%- include('partials/header') -%>
  <div class="min-h-screen">
  
                      <!-- Table starts here -->
                      <div class="overflow-x-auto">
                        <table class="table w-52">
                          <!-- head -->
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- row 1 -->
                            <tr>
                              <td><%= user.userName %></td>
                              <td><%= user.email %></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
         
      <div class="float-center">
        <h3>Your Posts:</h3>
        <% for(var i=0; i<posts.length; i++) {%>
      <div>
        
                  <div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="<%= posts[i].image%>" alt="Album"/></figure>
            <div class="card-body">
              <h2 class="card-title">New album is released!</h2>
              <p>Click the button to listen on Spotiwhy app.</p>
              <div class="card-actions justify-end">
                <a class="btn btn-primary" href="/post/<%= posts[i]._id%>">See Post</a>
              </div>
            </div>
          </div>
      </div>
    <% } %></div>  
      </div>  
  </div>
<%- include('partials/footer') -%>